body{
	background: linear-gradient(125deg,#000802,#026e0f);
	color: white;
}
header{
	background-color:#740707;
	width:1536px;
	height: 150px;
	margin: -7px;
	padding:2px;
}
h2{
	padding-top: 5px;
	font-family: tahoma;
	margin-left: 5px;
	padding-top: 5px;}
	font-family: tahoma;
	margin-left: 5px
}

h1{}
h1{
	margin-left: 370px;
}
img{padding-bottom: 22px;
	padding-top: 22px;}
ul{
	display:inline;
	margin-left:400px;
	font-size:20px;
	
}
ul li{
	text-decoration: none;
	display: inline;
	color: white;
	padding-left: 100px;
	font-family: Arial;
}
ul li a:hover{
	Color: yellow;
}
.second p {
	text-decoration: italic;
	display: inline;
	font-size: 20px
}
ul li a{
	text-decoration: none;
	display: inline;
	color: white;
}
.First{
	width:960px;
	margin: 51px auto;
	font-size: 23px;
	font-family: Arial;
	text-align: justify;
}